<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Cobra Chat
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id=item>
        <ion-label><strong>Contactos</strong></ion-label>
    </div>
    <ion-list>
        <ion-item *ngFor="let contact of contacts">
            <img src={{contact.image}}>
            <div id="row">
                <h1>{{contact.name}}</h1>
                <i>{{contact.status}}</i>
                <p></p>
                <ion-label>{{contact.message}}</ion-label>
            </div>

        </ion-item>
    </ion-list>
</ion-content>